syntax: glob

*.*scc
*.FileListAbsolute.txt
*.aps
*.bak
*.[Cc]ache
*.clw
*.eto
*.exe
*.fb6lck
*.fbl6
*.fbpInf
*.ilk
*.lib
*.log
*.ncb
*.nlb
*.obj
*.orig
*.patch
*.pch
*.pdb
*.plg
*.[Pp]ublish.xml
*.rdl.data
*.sbr
*.scc
*.sig
*.sln.docstates
*.sqlsuo
*.suo
*.svclog
*.tlb
*.tlh
*.tli
*.tmp
*.user
*.vshost.*
*DXCore.Solution
*_i.c
*_p.c
Ankh.Load
Backup*
* - [Cc]opy
CVS/
PrecompiledWeb/
UpgradeLog*.*
[Bb]in/
[Dd]ebug/
[Ee]xternal/
[Oo]bj/
[Pp]ackages/
[Rr]elease/
[Tt]humbs.db
_UpgradeReport_Files
_[Rr]e[Ss]harper.*/
hgignore[.-]*
ignore[.-]*
svnignore[.-]*
lint.db
__MVC_BACKUP
sistemaCA/sistemaCA/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
sistemaCA/sistemaCA/obj/Debug/sistemaCA.csproj.FileListAbsolute.txt
sistemaCA/sistemaCA/obj/Debug/sistemaCA.exe
sistemaCA/sistemaCA/obj/Debug/sistemaCA.pdb
sistemaCA/sistemaCA/obj/Debug/sistemaCA.pdb
sistemaCA/sistemaCA/obj/Debug/sistemaCA.csproj.GenerateResource.Cache
sistemaCA/sistemaCA/obj/Debug/sistemaCA.pdb
sistemaCA/sistemaCA/obj/Debug/sistemaCA.exe
sistemaCA/sistemaCA/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
sistemaCA/sistemaCA/obj/Debug/sistemaCA.csproj.FileListAbsolute.txt
sistemaCA/sistemaCA/obj/Debug/sistemaCA.csproj.GenerateResource.Cache
sistemaCA/sistemaCA/obj/Debug/sistemaCA.exe
sistemaCA/sistemaCA/obj/Debug/sistemaCA.pdb
sistemaCA/sistemaCA/obj/Debug/sistemaCA.pdb
sistemaCA/sistemaCA/obj/Debug/sistemaCA.csproj.GenerateResource.Cache
sistemaCA/sistemaCA/bin/Debug/sistemaCA.exe
sistemaCA/sistemaCA/bin/Debug/sistemaCA.vshost.exe.manifest
sistemaCA/sistemaCA/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
sistemaCA/sistemaCA/obj/Debug/sistemaCA.csproj.FileListAbsolute.txt
sistemaCA/sistemaCA/obj/Debug/sistemaCA.csproj.GenerateResource.Cache
sistemaCA/sistemaCA/obj/Debug/sistemaCA.exe
sistemaCA/sistemaCA/obj/Debug/sistemaCA.pdb
sistemaCA/sistemaCA/bin/Debug/sistemaCA.exe
sistemaCA/sistemaCA/bin/Debug/sistemaCA.vshost.exe.manifest
sistemaCA/sistemaCA/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
sistemaCA/sistemaCA/obj/Debug/sistemaCA.csproj.FileListAbsolute.txt
sistemaCA/sistemaCA/obj/Debug/sistemaCA.csproj.GenerateResource.Cache
sistemaCA/sistemaCA/obj/Debug/sistemaCA.exe
sistemaCA/sistemaCA/obj/Debug/sistemaCA.pdb
