<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="sistemaCA.Properties.Settings.sysca2ConnectionString"
            connectionString="Data Source=NOT-EDUARDO\SYSCA;Initial Catalog=sysca2;User ID=sa;Password=99463782"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>